section

    div(style="background-color:white",width="100%")
        div.column-left
            img(src="ld2018-intro/linuxday_fullcolor.svg")
        div.column-right
            img(src="ld2018-intro/banner_facebook.png")
            div.column-left
                img(src="ld2018-intro/logoPDP_restyleFlat.png",style="vertical-align:bottom")
            div.column-right
                img(src="ld2018-intro/makerspace-logo-back-white.png")

section

    h2 Non siamo soli oggi...!

    img(src="ld2018-intro/ld2018-map.png")

section(data-background-image="ld2018-intro/logo_software_libero.svg").fullcover

section(data-background-image="ld2018-intro/free_culture_graph.png").fullcover

section(data-background-image="ld2018-intro/mf2018-mosaico.png").fullcover

section(data-background-image="ld2018-intro/papertronik-2.png").fullcover

section

    div.column-left

        img(src="ld2018-intro/papertronik-ric.jpg")
    
    div.column-right

        img(src="ld2018-intro/renzo-da-solo.jpg")

section

    h2 Oggi siamo qui grazie a...

    div.column-left

        img(src="ld2018-intro/rms-da-solo.png",height=400)
    
    div.column-right

        img(src="ld2018-intro/linus-da-solo.jpg",height=400)

    h3 ... e ce lo racconta "la lettera di Enza" (Dossier Scuola 2010)

section(data-background-image="ld2018-intro/rms.png").fullcover

section(data-background-image="ld2018-intro/linus.png").fullcover

section(data-background-image="ld2018-intro/linuxday2018-fabriano.jpg").fullcover