
section(data-background-image="naoch19-pitch/logo.png").fullcover

section

    h1 MOTIVAZIONE

section(data-background-image="naoch19-pitch/beautiful-wallpaper-download-14.jpg").fullcover

section

    h1 EFFICACIA

section(data-background-image="naoch19-pitch/beautiful-wallpaper-download-12.jpg").fullcover

section

    h1 INNOVAZIONE

section(data-background-image="naoch19-pitch/ecopetit.cat-really-nice-wallpapers-781764.png").fullcover

section

    h1 TECNICISMI

section(data-background-image="naoch19-pitch/tecnicismi.jpg").fullcover

section

    h2 Saluti da Freddie Mercury

    div.column-left

        img(src="naoch19-pitch/hqdefault.jpg")
    
    div.column-right

        img(src="naoch19-pitch/logo-scuola.jpg")


